body {
  overflow-x: hidden;
  background-color: #ffffff;
}

.navbar-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
}

/*
.background-container {
  position: relative;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  clip-path: polygon(0 0, 86% 1%, 70% 64%, 0 100%);
  clip-path: polygon(100% 0, 86% 1%, 70% 64%, 100% 54%);
  clip-path: polygon(100% 100%, 0 100%, 70% 64%, 100% 54%);
}
*/
.background-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
}

.background-container .clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 64%;
}

.clip1 {
  width: 100%;
  height: 100%;
  background: #f8f9fa;
  -webkit-clip-path: polygon(0 0, 84% 0, 62% 71%, 0% 100%);
  clip-path: polygon(0 0, 84% 0, 61% 72%, 0% 100%);
  /*clip-path: polygon(0px 0px, 86.5% 0px, 68.63% 98.86%, 5px 136.99%);*/
}

.clip2 {
  background: #f3f3f3;
  -webkit-clip-path: polygon(100% 0, 84% 0, 61% 72%, 100% 55%);
  clip-path: polygon(100% 0px, 82.60% 1px, 61% 72.46%, 100% 55%);
  /*clip-path: polygon(86.5% 0, 100% 0, 99.93% 89.82%, 68.63% 98.86%);*/
}

/*.clip3 {
  background: #f8f9fa;
  -webkit-clip-path: polygon(100% 100%, 0 100%, 61% 72%, 100% 55%);
  clip-path: (100% 100%, 66.75% 100%, 75% 75%, 100% 64.75%);
  clip-path: polygon(57.20% 90.70%, 0px 100%, 69.75% 48.19%, 60.66% 78.92%);
}

.clip4 {
  background:#f3f3f3;
  clip-path: polygon(99.82% 240px, 57.53% 396px, 62.81% 70.85%, 100% 55%);
}*/

.navbar-top .navtop, .navbar-top .navbottom  {
  display: flex;
  align-items: flex-end;
}
.navbar-top .navtop .nav1, .navbar-top .navbottom .nav2 {
  display: flex;
  justify-content: flex-start;
}
.navbar-top .navtop .nav1 .nav-leftside {display: flex}
.navbar-top  ul li a {
  flex-shrink: 0;
  justify-content: space-between;
}
.nav-rightside {
  margin-left: -20rem;
  margin-right: 20rem;
}
.navbar-top .navtop .nav1 ul { display: flex;}
.navbar-top .navtop ul li:nth-child(1), .navbar-top .navbottom ul li:nth-child(1) {
  margin-left: 20rem;
}

.linktop {margin-top: -1rem;}

.logo { 
  max-width: 7rem;
  width: 6.5rem;
}

nav a {
  padding: 0.85rem;
  font-size: 0.85rem;
}

.navtop2 { padding-top: 1rem;}

[aria-controls="navbarDropdown"] {
  display: none;
}

.navtop li .navdoc,.navtop2 li .link { margin-right: 2rem;}

.link {
  border-radius: 2.813rem;
  width: 7rem;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--font-color-link);
  border: 0.06rem solid transparent;
  text-align: center;
}

.learn-more { 
  font-size: 1rem;
  padding: 1rem;
  color: var(--font-color-link);
  font-weight: 600;
}

.top-header, .mid-header, .hire-section {
  position: relative;
  top: 6.5rem;
}

.empowering-teams, .front-job {
  display: flex;
  align-items: center;
}

.empowering-teams div, .front-job div { flex: 1;}

.teams-wrapper {
  padding-right: 0;
  margin: auto;
  text-align: justify;
}

.icon {
  /*background: rgba(255,255,255,0.9);*/
  position: absolute;
  background: #fff;
  padding: 0.7rem;
  z-index: 2;
}

.icon::after {
  background-color: var(--white);
  content: "";
  display: block;
  border-radius: 50%;
}

@keyframes animateIcon {
  from {
    transform: translateY(6.25rem);
  }
  to {
    transform: translateY(-0.625rem);
  }
}

@keyframes sideways {
  0% { margin-left:  6.25rem; }

  100% { margin-left: 6.25rem;}
}

.logo-icon  img {
  animation: animateIcon 2s linear, sideways ease-in-out infinite alternate;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

/*.bg {
  background-color: #f3f3f3;
  width: 2.5rem;
  z-index: 200;
}*/

.img1 {
  left: 49%;
  top: -10%;
}

.img2 {
  left: 60%;
  top: 10%;
}

.img3 {
  left: 74%;
  top: 1%;
}

.logo-icon > .img4 {
  width: 4rem;
  height: 4rem;
  left: 48%;
  top: 30%;
}

.img5 {
  left: 67%;
  top: 31%;
}

.img6 {
  left: 58%;
  top: 65%;
  /*background: ghostwhite;*/
}

.img7 {
  left: 74%;
  top: 74%;
  /*background: ghostwhite;*/
}

section > .header-benefit { 
  margin-top: 35rem;
}

.header-benefit h2, .why-front h2 {
  text-align: center;
  margin-top: 17rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.header-benefit p, .why-front p, .header-pricing p { 
  text-align: center;
  font-size: 0.9rem;
}

.benefit-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(15.625rem, 15.625rem));
  gap: 1rem;
  margin-right: 15rem;
}

.benefit-card, footer-card {
  padding: 0.938rem;
  box-shadow: 0 0 1rem rgba(48, 63, 100, .15);
  border-radius: 0.5rem;
}

.benefit-card h3, .pricing-card h3, .footer-card h3 {
  color: var(--black);
  font-size: 1rem;
  font-weight: 800;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

.benefit-card p, .footer-card p { 
  text-align: justify;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
}

.img-card {
  width: 5rem;
  height: 5rem;
  margin-top: 0.1rem;
}

.header-prime {
  margin-right: 1.5rem;
  margin-bottom: 2rem;
}

.alignleft { 
  grid-template-columns: 1fr 1fr;
    display: grid;
  margin-top: 0.1rem;
}

.link-sketch {
    border-radius: 2.188rem;
    width: 3.75rem;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.1rem;
    color: var(--white);
    background-color: var(--green);
    border: 0.063rem solid transparent;
    text-align: center;
}

.left-bar {
  align-items: center;
  margin-right: 0.313rem;
  margin-top: 0rem;
}

.benefit-card > .home-color {padding-left: 0;}
.benefit-card:hover { transform: scale(1.1);}

.home-color {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 1.875rem;
  color: var(--font-color-home);
}

.home-color:hover { 
  color: var(--font-color-home);
  font-size: 100%;
}

.frontjob-header {font-size: 1.985rem;}

.front-job .teams-wrapper { 
  padding: 0rem;
  margin: 0rem;
}

.front-job .teams-wrapper h2 {
  font-size: 2rem;
  margin-left: auto;
  margin-bottom: 2rem;
}
.front-job .teams-wrapper a {margin-left: auto;}

.mid-header > .front-job {
  padding: 0 12rem;
}

.mid-header > .front-job {
  width: 82%;
  padding-left: 4rem;
  padding-right: 5px;
  padding-top: 5rem;
  margin-left: 8rem;
  margin-right: 5rem;
  background: #F2F4F9;
  vertical-align: middle;
}

.front-icon .banner { 
  margin-left: -4rem;
  margin-right: -1rem;
  margin-bottom: -0.6rem;
  width: 43rem;
  max-width: 41rem;
  position: relative;
}

.marge-circleline { 
  display: grid;
  grid-template-columns: repeat(7, 5.5rem);
  -ms-grid-column: repeat(7, 6rem);
  grid-template-rows: 14rem;
  -ms-grid-row: 14rem;
  gap: 1rem;
  text-align: center;
  margin-left: 5.5rem;
}

.circle { 
  width: 3.15rem;
  height: 3.15rem;
  line-height: 3.15rem;
  font-size: 1.875rem;
  font-weight: 300;
  text-align: center;
  border-radius: 50%;
  background: var(--font-color-circle);
  display: inline-block;
  color: var(--font-color-circle-center);
  margin: 5rem 3rem;
}

.paragraph { 
  color: var(--black);
  text-align: justify;
  margin-top: -5rem;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 10rem;
  font-weight: 800;
}

.p1 {
  margin-left: 1.8rem;
}

.p2 {
  margin-left: 7.3rem;
}

.p3 {
  margin-left: 13.2rem;
}

.p4 {
  margin-left: 21.3rem;
}

.line {
  margin-top: 6.875rem;
  width: 7.65rem;
  height: 0.175rem;
  background-color: var(--font-color-circle);
  float: left;
}

.video-front {position: relative;}

.video-front .banner-front {
  width: 100%;
  height: auto;
  margin-right: 2rem;
  margin-left: 2rem;
  padding-right: 17rem;
  padding-left: 10rem;
}

div .video-btn .btn-play { 
  position: absolute;
  border-radius: 50%;
  background: #F1f4f9;
  color: var(--black);
  width: 4rem;
  height: 4rem;
  padding: 1.6rem;
  top: 10rem;
  right: 10rem;
  left: 38.9rem;
}

.video-front img .banner-front {
  width: 5.6rem;
  height: 6.2rem;
}

.container-testimony { 
  margin-top: 8rem;
  margin-bottom: 8rem;
  display: flex;
  position: relative;
  max-width: initial;
}

.container-people { 
  height: auto;
  width: 100%;
  position: relative;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  z-index: 1;
  padding: 1.25rem;
}

.container-people > img {
  width: 28rem;
  height: 33rem;
  top: 0rem;
  left: auto;
  border-radius: 1.25rem;
  position: relative;
}

/*.container-testimony { position: relative;}*/

.container-testimony::after {
  /*background: radial-gradient(#000 0.0625rem, transparent 0.125rem);*/
  background: url(../icons/dots.svg) no-repeat;
  content: '';
  left: -2rem;
  top: 16rem;
  position: absolute;
  bottom: 1.5rem;
  width: 23%;
  height: 57%;
  margin-left: 11rem;
} 

.container-people::after {
  content: '';
  left: 0rem;
  top: 20rem;
  bottom: 6px;
  width: 33%;
  position: absolute;
}

.container-testimony > .container-people, .container-testimony > .block-testimony {flex: 1;}

.block-testimony {
  margin-top: 10rem;
  text-align: justify;
  margin-left: -1rem;
  margin-right: 0;
}

.block-testimony p { 
  font-size: 1.2rem;
  color: var(--black);
  font-weight: 600;
}

.block-testimony h2 { 
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: -0.9rem;  
}
.block-testimony h4 { 
  font-weight: 300;
  font-size: 0.72rem;
}

.company-logos { 
  width: 7rem;
  padding-left: 0;  
}

.header-company { text-align: center;}

.container-company {
  position: relative;
  display: inline;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.company li {
  width: 6.25rem;
  display: inline-block;
  padding: 1.25rem;
  text-align: center;
}

.header-company h3 { 
  font-weight: 600;
  font-size: 1rem;
}

.block-company {
  text-align: center;
}

.block-company .company li { 
  width: 10rem;
  margin-right: 2.7rem;
}
section > .header-pricing {
  margin-top: 0rem;
  margin-bottom: 2rem;
}
.header-pricing h2 {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

div .item1 { 
  grid-area: price;
  box-shadow: 0 0 1.5rem rgba(48, 63, 100, .15);
  border-radius: 0.5rem;    
  margin: 1.5rem 1.5rem;
  padding: 1.5rem;
}
.item2 { grid-area: component; }
.item3 { grid-area: image; }
.item4 { grid-area: cancel; }
.item5 { grid-area: money; }

.pricing-grid {
  /*grid-template-columns: repeat(5, minmax(1fr, 1fr));*/
  width: 76rem;
  height: 0rem;
  display: grid;
  grid-template-areas:
      'price price . component image'
      'price price . cancel money';
  gap: 0rem;
  margin-bottom: 30rem;
}

.pricing-card { 
  padding: 0rem;
  margin: 1rem;
}

.item2 p, .item3 p, .item4 p, .item5 p { 
  text-align: justify;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.pricing-grid .pricing-card .price-p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: justify;
  font-size: 0.8rem;
}
.pricing-grid .pricing-card .nocredit-card {
  margin-top: 0.4rem;
  margin-bottom: 2.5rem;
  font-size: 0.6rem;
}

div .price .price-bold { font-size: 2rem; }

div .price { 
  color: var(--black);
  font-weight: 600;
  font-size: 1.2rem;
}

.img-card-price {
  width: 3rem;
  height: 3rem;
  margin-top: 0.1rem;
}

.hire-section { 
  margin-bottom: 12rem;
  margin-top: -12.5rem;
}

.hire-section > .container-hire {
  width: 96%;
  padding-left: 4rem;
  padding-right: 6px;
  margin-left: 2rem;
  margin-right: auto;
  background: var(--dark-blue);
}

.container-hire {
  display: flex;
}

.container-hire-us {
  margin-right: auto;
  margin-left: auto;
  margin-top: 7rem;
  color: var(--white);
}
.container-hire-us h2 { 
  color: var(--white);
  font-size: 2rem;
}

.container-hire-us p {
  font-size: 1rem;
}
.container-hire-us h4, .container-hire-us h5 {
  font-size: 0.6rem;
  padding: 0rem;
  margin: 0rem;
}

.header-hire { 
  padding-bottom: 1rem;
  font-size: 0.75rem;
  border-bottom: 0.00110rem solid var(--gray);
  position: relative;
}

.header-hire::after { 
  content: "";
  top: 1.6875rem;
  right: -0.1875rem;
  padding-bottom: 1rem;
  width: 57%;
  position: absolute;
  background-color: var(--dark-blue);
}

div.container-reviews {
  width: 20rem;
  height: 10rem;
  position: relative;
}

div.container-reviews div.content-review {
  width: 20rem;
  height: 6rem;
  text-align: justify;
  position: relative;
  overflow: hidden;
}

.container-reviews .content-review div {
  width: 20rem;
  height: 5rem;
  color: transparent;
  opacity: 0;
  animation: mymove 24s infinite;
  animation-timing-function: linear;
  animation-fill-mode:none;
  background-color: var(--dark-blue);
  animation-delay: 10s;
  position: absolute;
  overflow: hidden;
}

.container-reviews .content-review div p { font-size: 0.6rem;}

.container-reviews div.review1 { animation-delay: 6s; text-shadow: 0px 0px 1px #fff;}
.container-reviews div.review1:nth-child(2){ animation-delay: 16s; text-shadow: 0px 0px 1px #fff;}
.container-reviews div.review1:nth-child(3) { animation-delay: 26s; text-shadow: 0px 0px 1px #fff;}

.container-reviews .review-img img {
  margin: 1rem 0rem;
  overflow: visible;
  text-align: start;
  animation: myscale 24s infinite;
  animation-timing-function: linear;
  animation-delay: 8s;
}

.container-reviews .review-img img.review-people { animation-delay: 6s;}

.container-reviews .review-img img.review-people:nth-child(2) { animation-delay: 16s;}

.container-reviews .review-img img.review-people:nth-child(3) { animation-delay: 26s;}
/*Animation fade in out of the reviews */
@keyframes  mymove {
  0%   {opacity: 1; top: 100px;}
  15%  {opacity: 1; top: 80px;}
  30%  {opacity: 1; top: 50px;}
  45%  {opacity: 1; top: 0px;}
  55%  {opacity: 0; top: 0px;}
  70%  {opacity: 0; top: 50px;}
  85%  {opacity: 0; top: 100px;}
  100% {opacity: 0; top: 120px;}
}
/*Animation scale image */
@keyframes myscale {
  0% { transform: none;}
  50% { transform: scale(2);}
  100% { transform: none;}
}

.review-people, .review-people2 {border-radius: 50%;}

.container-reviews img.review-people { 
  margin-top: 3rem;
  width: 3.5rem; 
}
/*.hire-people2 { width: 4.5rem;}*/
.container-form {
  margin-right: auto;
  border: 1rem solid transparent;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--white);
}

.container-form h3 {
  font-size: 1rem;
  margin-left: 1rem;
}

.hire-form { margin-left: 1rem;}

#fname, #lname, #wemail, #cwebsite, #budget, #country { 
  margin-right: 1rem;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  width: 10rem;
}

textarea { margin-bottom: 1.4rem;}

.hire-checkbox {
  display: flex;
}

input[type="checkbox"]:checked + .checkmark::after {
  content: '';
  position: absolute;
  width: 0.6rem;
  height: 0.3rem;
  background-color: var(--font-color-link);
  top: 0.4rem;
  left: 0.2rem;
  border: 2px solid white;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="checkbox"] {
  line-height: 2.1ex;
}

input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  left: -999em;
}

input[type="checkbox"] + .checkmark {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

input[type="checkbox"] + .checkmark::before {
  content: "";
  display: inline-block;
  /* vertical-align: -2%; */
  height: 1rem;
  width: 1rem;
  background-color: var(--font-color-link);
  border: 2px solid white;
  border-radius: 4px;
  /* box-shadow: inset 0 2px 5px rgb(0 0 0 / 25%); */
  margin-right: 0.5em;
}

.hire-checkbox p { font-size: 0.8rem; }

.hire-underline {border-bottom: .0625rem dashed;}

.hire-button {
  color: var(--white);

  background-color: var(--font-color-link);
  border: 0.0625rem solid transparent;
  border-radius: 0.325rem;
  padding: 1rem;
  width: 100%;
}

/*.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}*/
.f1 { grid-area: f1; }
.f2 { grid-area: f2; }
.f3 { grid-area: f3; }
.f4 { grid-area: f4; }
.f5 { grid-area: f5; }

.footer-grid {
  /*grid-template-columns: repeat(5, minmax(1fr, 1fr));*/
  width: 76rem;
  height: 0rem;
  display: grid;
  grid-template-areas: 'f1 . f2 . f3 . f4 . f5 ';
  gap: 1rem;
  margin-bottom: 10rem;
}

.link-hiring {
  background-color: var(--font-color-link);
  border: 1px solid transparent;
  color: var(--white);
  border-radius: 4px;
}

.footer-card ul li {
  margin: 1rem 0rem;
}

.footer-card .logo {
  margin-bottom: 1rem;
}

.footer-card {font-size: 0.8rem;}

section .bottom-line { 
  border-top: 1px solid var(--font-color-light);
  margin-top: 6rem;
  width: 70%;
}

.bottom-line { 
  border-top: 1px solid var(--font-color-light);
  margin-top: 17rem;
  width: 70%;
}

.navbar-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.navbar-bottom div p {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--font-color-light);
}

.bottom-socialmedia { display: flex;}

.bottom-socialmedia ul li {
  display: inline-block;
  margin-right: var(--size--10);
}

.fab {
  background-color: whitesmoke;
  color: var(--font-color-light);
  padding: 0.5rem;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.cright {
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
}

.container h6 { font-size: 0.7rem; }

.countries ul li .flag, .countries select {
  width: 40px;
  height: 30px;
  background-color: aliceblue;
}

select.icon-menu option {
  background-repeat: no-repeat;
  padding-left: 30px;
}

div h6.cright::before {
  content: "\00a9";
  padding: 0.1rem;
}

div h6{
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--font-color-light);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

